body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.light-mode {
    --background-color: #fffbfb;
    --text-color: #161616;

    --hover-color: #0078D6;
    --hover-background-color: #cae8ff;
}

.dark-mode {
    --background-color: #161616;
    --text-color: #ffffff;

    --hover-color: #99d3ff;
    --hover-background-color: #262626;
}

.floating-button {
    background-color: var(--background-color);
}

body.light-mode .display-1,
body.light-mode .brand {
    color: #161616;
}

.nav-link {
    background-color: var(--background-color);
}

.nav-link:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-color);
}

.hero {
    padding: 6rem 0;
    display: flex;
    align-items: center;
}

.display-1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 8rem;
}

.mt-3 {
    padding-left: 0.5rem;
}

.hero .animated-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.hero .animated-text span {
    margin-bottom: 1.5rem;
    font-size: 5rem;
}

.floating-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-color: var(--background-color); /* Background inicial para modo oscuro */
    color: var(--text-color); 
    border: none; 
    cursor: pointer; 
    box-shadow: 0 2px 5px var(--hover-color);
    z-index: 1001; 
}

#themeIcon {
    width: 25px;
    height: 25px;
    margin: auto;
}

#typewriter1 {
    padding-left: 4rem; 
}
#typewriter2 {
    padding-left: 10rem;
}
#typewriter3 {
    padding-left: 4rem;
}
@media (max-width: 1200px) { 
    .display-1 {
        font-size: 6rem;
    }
    .hero .animated-text span {
        font-size: 4rem;
    }
    #typewriter2 {
        padding-left: 6rem; 
    }

}
@media (max-width: 992px) { 
    .display-1 {
        font-size: 5rem;
    }
    .hero .animated-text span {
        font-size: 3rem;
    }
    #typewriter1,#typewriter3 {
        padding-left: 10rem;
    }
    #typewriter2 {
        padding-left: 16rem;
    }
}

@media (max-width: 768px) { 
    .hero {
        padding: 3rem 0;
    }
    .display-1 {
        font-size: 4rem;
        text-align: center;
    }
    .hero .animated-text {
        text-align: center;
    }
    .hero .animated-text span {
        font-size: 2.5rem;
    }

    #typewriter1, #typewriter2, #typewriter3 {
        padding-left: 0;
    }

    .hero .col-md-6:nth-child(2) {
        padding-left: 0; 
    }

}