@import url('variables_color.css');

.navbar {
    background-color: transparent;
    padding: 1rem 1rem;
}

.brand {
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    color: var(--mode-text-color);
    font-size: 2.5em;
}

.nav-link,
.dropdown-item {
    color: var(--default-nav-item-color);
    font-family: 'Noto Sans JP', sans-serif;
    border-color: var(--default-nav-item-border-color);
}

.nav-link:hover{
    color: var(--default-nav-item-hover-color);
    background-color: var(--default-nav-item-background-color);
}

.dropdown-menu {
    background-color: var(--default-dropdown-menu-background-color);
    border: none;
    border-radius: 10px;
}

.dropdown-item {
    color: var(--default-dropdown-item-color);
}
