@import url('variables_color.css');

body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px var(--mode-hover-color);
    z-index: 1001; 
}

#themeIcon {
    width: 25px;
    height: 25px;
    margin: auto;
}

.hero {
    display: flex;
    justify-content: center;
}

.card {
    z-index: 1001; 
    background-color: var(--mode-card-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-title {
    font-size: 2.5rem;
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
}

form{
    font-family: 'Noto Sans JP', sans-serif;
    display: grid;
    grid-template-areas: "label" "input" "login";
    padding: 0.5rem;
}

.label {
    margin: 15px auto;
    display: grid;
    grid-template-areas: "input";
    width: 100%;
}

.input {
    grid-area: input;
    width: 100%;
    font: inherit;
    border-radius: 10px;
    border: 2px solid var(--mode-hover-color);
    padding: .7rem 1.5rem;
    background-color: var(--mode-card-color);
    color: var(--mode-text-color);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--mode-card-color) inset;
    box-shadow: 0 0 0px 1000px var(--mode-card-color) inset;
    -webkit-text-fill-color: var(--mode-text-color) !important;
}

.label_name {
    grid-area: input;
    z-index: 100;
    margin-left: 1rem;
    margin-top: 0.2rem;
    padding: 0 .7rem;
    align-items: center;
    height: 80%;
    display: flex;
    align-items: center;
    transition: .3s;
    transform-origin: center left;
    color: var(--mode-hover-color);

    width: max-content;
    margin-right: 1rem;
    box-sizing: border-box;
}

.input:focus + .label_name,
.input:not(:placeholder-shown) + .label_name {
    transform: translateY(-67%) scale(.9);
    background-color: var(--mode-card-color);
}

.login {
    display: block;
    margin: 0.6rem auto;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: var(--mode-hover-color);
    background-color: var(--mode-hover-color);
    opacity: 0.8;
    cursor: pointer;
    color: var(--mode-background-color);
    transition: 0.2s;
}

.login:hover {
    background-color: var(--mode-hover-color);
    opacity: 1;
}

.forgot {
    color: var(--mode-hover-color);
    text-decoration: none;
    opacity: 0.7;
}
.forgot:hover {
    color: var(--mode-hover-color);
    opacity: 1;
    cursor: pointer;
}

.register {
    color: var(--mode-hover-color);
    text-decoration: none;
    opacity: 0.7;
}
.register:hover {
    color: var(--mode-hover-color);
    opacity: 1;
    cursor: pointer;
}

.text-end {
    padding-top: 0.8rem;
}

.verification-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.verify-button{
    font-size:medium;
}

@media (max-width: 1200px) {
    .card-title {
        font-size: 3rem;
    }
    
    .input {
        font-size: 1.1rem;
    }
    
    .label_name {
        font-size: 1.1rem;
    }
    
    .login {
        height: 52px;
        border-radius: 10px;
    }
}
@media (max-width: 992px) {
    .card-title {
        font-size: 2rem;
    }
    
    .input {
        font-size: 0.9rem;
    }
    
    .label_name {
        font-size: 0.9rem;
    }
    
    .login {
        height: 48px;
        border-radius: 7px;
    }

    .verify-button{
        font-size:small;
    }

    .input:focus + .label_name,
    .input:not(:placeholder-shown) + .label_name {
        transform: translateY(-60%) scale(.9);
        background-color: var(--mode-card-color);
    }

}
@media (max-width: 768px) {
    .card {
        padding: 1rem;
    }
    
    .card-title {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    
    .input {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }
    
    .label_name {
        font-size: 0.8rem;
        margin-left: 0.5rem;
        height: fit-content;
    }
    
    .login {
        height: 38px;
        border-radius: 5px;
    }

    .input:focus + .label_name,
    .input:not(:placeholder-shown) + .label_name {
        transform: translateY(-70%) scale(.9);
        background-color: var(--mode-card-color);
    }
}