@import url('variablesColor.css');

body{
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
}

.container{
    min-height: 80vh;
}

.box-area{
    width: 930px;
    background-color: var(--mode-card-color);
    z-index: 1005;
    position: relative;
}

.box-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 0 10px 0 var(--mode-background-color);
    filter: invert(0.3);
    pointer-events: none;
    border-radius: 10px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

.rounded-4{
    border-radius: 20px;
}

form{
    font-family: 'Noto Sans JP', sans-serif;
    display: grid;
    grid-template-areas: "label" "input" "button";
}

.label{
    display: grid;
    grid-template-areas: "input";
    width: 100%;
}

.input{
    grid-area: input;
    width: 100%;
    font: inherit;
    border-radius: 8px;
    border: 2px solid var(--mode-hover-color);
    background-color: var(--mode-card-color);
    color: var(--mode-text-color);
    padding-left: 15px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--mode-card-color) inset;
    box-shadow: 0 0 0 1000px var(--mode-card-color) inset;
    -webkit-text-fill-color: var(--mode-text-color) !important;
}

.labelName {
    grid-area: input;
    z-index: 100;
    width: fit-content;
    height: max-content;
    padding-inline: 5px;
    transition: .3s;
    transform-origin: center left;
    color: var(--mode-text-color);
    margin-left: 10px;
}

.input:focus + .labelName,
.input:not(:placeholder-shown) + .labelName {
    transform: translateY(-60%) scale(.9);
    background-color: var(--mode-card-color);
    height: fit-content;
}

small a{
    color: var(--mode-text-color);
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

small a:hover{
    color: var(--mode-hover-color);
    transition: all 0.3s ease;
}

.blocked_input{
    transform: translateY(-60%) scale(.9);
    background-color: var(--mode-card-color);
    height: fit-content;

}

.blocked_background{
    background-color: var(--mode-hover-color);
}

/* NEW BUTTON SYLE
.button-container {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid var(--mode-hover-color);
    border-radius: 25px;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Noto Sans JP', sans-serif;
    transition: 0.5s;
    letter-spacing: 1px;
}
.button-container button {
    width: 100%;
    font-weight: 300;
    letter-spacing: 1px;
    background: var(--mode-hover-color);
    mask: url("../resources/img/animation_sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
}
.button-container button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}

.mas {
    position: absolute;
    color: var(--mode-text-color);
    text-align: center;
    width: 100%;
    overflow: hidden;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}
@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}*/


/*OTP FORM VERIFICATION CODE*/
.otp-input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    font-size: 1.5rem;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
}
.otp-input:focus {
    outline: none;
    border-color: transparent;
    background-color: var(--mode-background-color);
}

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-file-upload {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: var(--mode-hover-color);
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--mode-hover-color);
}

.button {
    background-color: var(--mode-hover-color);
    border-color: transparent;
    border-radius: 5vw;
    color: white;
    box-shadow: 0 4px 8px var(--mode-shadow-color);
    font-family: 'Noto Sans JP',sans-serif;
    transition: all 0.3s;
}
.button:hover {
    background-color: var(--mode-hover-color);
    transition: all 0.3s;
    color: white;
    box-shadow: 0 6px 12px var(--mode-shadow-color);
}