@import url('variables_color.css');

body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px var(--mode-hover-color);
    z-index: 1001; 
}

#themeIcon {
    width: 25px;
    height: 25px;
    margin: auto;
}

/* Estilos específicos para elementos del hero */
.hero {
    padding: 6rem 0;
    display: flex;
    align-items: center;
}

.display-1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 8rem;
}

.mt-3 {
    background-color: var(--mode-hover-color);
    color: var(--mode-background-color);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease;
    font-family: 'Noto Sans JP',sans-serif;
}

.mt-3:hover {
    color: var(--mode-background-color);
    box-shadow: 1px 7px 7px var(--mode-shadow-color);
    transition: box-shadow 0.3s ease;
}

.hero .animated-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.hero .animated-text span {
    margin-bottom: 1.5rem;
    font-size: 5rem;
}

#typewriter1 {
    padding-left: 4rem; 
}
#typewriter2 {
    padding-left: 10rem;
}
#typewriter3 {
    padding-left: 4rem;
}

#div-search{
    padding-left: 1.1rem;
}

/* Barra de busqueda */
#search {
    z-index: 1007;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
    border: 2px solid var(--mode-hover-color);
    border-radius: 25px;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    width: 100%;
    box-shadow: 0 4px 8px var(--mode-shadow-color);
    font-family: 'Noto Sans JP',sans-serif;
}

#search:focus {
    outline: none;
    box-shadow: 0 6px 12px var(--mode-shadow-color);
    border-color: var(--mode-hover-color);
}

#search::placeholder {
    color: var(--mode-text-color);
    opacity: 0.7;
}

/* Media queries para adaptar a diferentes tamaños de pantalla */
@media (max-width: 1200px) { 
    .display-1 {
        font-size: 6rem;
    }
    .hero .animated-text span {
        font-size: 4rem;
    }
    #typewriter2 {
        padding-left: 6rem; 
    }
}

@media (max-width: 992px) { 
    .display-1 {
        font-size: 5rem;
    }
    .hero .animated-text span {
        font-size: 3rem;
    }
    #typewriter1,#typewriter3 {
        padding-left: 10rem;
    }
    #typewriter2 {
        padding-left: 16rem;
    }
}

@media (max-width: 768px) { 
    .hero {
        padding: 3rem 0;
    }
    .display-1 {
        font-size: 4rem;
        text-align: center;
        padding-bottom: 0rem;
    }
    .hero .animated-text {
        text-align: center;
    }
    .hero .animated-text span {
        font-size: 2.5rem;
    }

    #typewriter1, #typewriter2, #typewriter3 {
        padding-left: 0;
    }
    .hero .col-md-6:nth-child(2) {
        padding-left: 0; 
    }
    #search {
        font-size: 1rem;
        padding: 0.6rem 1.2rem; 
    }

    .login-div{
        padding: 1.5rem;
    }

}