@import url('variables_color.css');

body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
}

#sectionOne {
    padding: 5vw;
    position: relative;
}

#title {
    font-size: 8vw;
}

#createHistoryButton {
    background-color: var(--mode-hover-color);
    color: var(--mode-background-color);
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: box-shadow 0.3s ease;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 2vw;

}

#createHistoryButton:hover {
    box-shadow: 1px 7px 7px var(--mode-shadow-color);
    transition: box-shadow 0.3s ease;
}


.hero .animated-text {
    display: flex;
    flex-direction: column;
}

#typewriter1{
    font-size: 6vw;
    padding-left: 2rem;
}
#typewriter2{
    font-size: 6vw;
    padding-left: 8rem;
}
#typewriter3{
    font-size: 6vw;
    padding-left: 2rem;
}

#div-search {
    padding-top: 4vw;
    margin: auto 0;
}

#search {
    z-index: 1001;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(0px);
    color: var(--mode-text-color);
    border: 2px solid var(--mode-hover-color);
    border-radius: 5vw;
    padding: 1vw  3vw;
    font-size: 1.5vw;
    width: 100%;
    box-shadow: 0 4px 8px var(--mode-shadow-color);
    font-family: 'Noto Sans JP',sans-serif;
}

#search:focus {
    outline: none;
    box-shadow: 0 6px 12px var(--mode-shadow-color);
    border-color: var(--mode-hover-color);
}

#search::placeholder {
    color: var(--mode-text-color);
    opacity: 0.7;
}

/*Media queries*/
@media (0px <= width <= 767px) {

    #createHistoryButton {
        display: none;
    }

    #search {
        text-align: center;
        font-size: 2.5vh;
    }

    #typewriter1{
        padding: 1vh;
        padding-left: 0;
        margin: auto;
    }

    #typewriter2{
        padding: 1.7vw;
        padding-left: 0;
        margin: auto;
    }
    #typewriter3{
        display: none;
    }
}