@import url('variablesColor.css');

body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
}
.scroll-container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.one{
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}
.two{
    height: fit-content;
    scroll-snap-align: start;
}
.hero {
    padding: 15vh 10vw;
    position: relative;
}
.word {
    display: block;
    font-size: 7vw;
    text-align: left;
}
.button.btn {
    position: relative;
    display: inline-block;
    border-radius: 25px;
    background-color: var(--mode-hover-color);
    color: var(--mode-background-color);
    text-decoration: none;
    transition: all 0.3s ease;
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    padding-right: 5%;
    padding-left: 3%;
}
.button.btn svg {
    position: absolute;
    top: 50%;
    right: 9%;
    transform: translateY(-50%);
    fill: none;
    stroke: var(--mode-background-color);
    stroke-width: 2;
    transition: all 0.3s ease;
}
.button.btn:hover svg {
    right: 6%;
}
.hero .animated-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#typewriter1{
    font-size: 5vw;
    padding-left: 2rem;
}
#typewriter2{
    font-size: 5vw;
    padding-left: 8rem;
}
#typewriter3{
    font-size: 5vw;
    padding-left: 2rem;
}
#search {
    z-index: 1001;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
    border: 2px solid var(--mode-hover-color);
    border-radius: 5vw;
    font-size: 1rem;
    width: 50%;
    box-shadow: 0 4px 8px var(--mode-shadow-color);
    font-family: 'Noto Sans JP',sans-serif;
    text-align: center;
}
#search:focus {
    outline: none;
    box-shadow: 0 6px 12px var(--mode-shadow-color);
    border-color: var(--mode-hover-color);
}
#search::placeholder {
    color: var(--mode-text-color);
    opacity: 0.7;
}
/*Media queries*/
@media (0px <= width <= 767px) {
    #createHistoryButton {
        display: none;
    }
    #sectionOne {
        padding: 15vh 2vw;
    }
    .word {
        font-size: 13vw;
        text-align: center;
    }
    #search {
        width: 100%;
        padding: 0 0;
        border-radius: 20px;
    }
    #typewriter1{
        padding: 1vh;
        padding-left: 0;
        margin: auto;
    }
    #typewriter2{
        padding: 1.7vw;
        padding-left: 0;
        margin: auto;
    }
    #typewriter3{
        padding: 1.7vw;
        padding-left: 0;
        margin: auto;
    }
    .search-input{
        display: flex;
        justify-content: center;
    }

}
.search-icon {
    z-index: 1001;
    margin-left: 1cap;
}
.button {
    background-color: var(--mode-hover-color);
    border-color: transparent;
    border-radius: 5vw;
    color: white;
    box-shadow: 0 4px 8px var(--mode-shadow-color);
    font-family: 'Noto Sans JP',sans-serif;
    transition: all 0.3s;
}
.button:hover {
    background-color: var(--mode-hover-color);
    transition: all 0.3s;
    color: white;
    box-shadow: 0 6px 12px var(--mode-shadow-color);
}

.card-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}


.card-container {
    scrollbar-width: auto;
    scrollbar-color: var(--mode-hover-color) transparent;
}

.card-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: var(--mode-hover-color);
    border-radius: 5px;
}

.card-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

.card {
    flex: 0 0 auto;
    background-color: cornflowerblue;
    width: 150px;
    height: 200px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover h2 {
    opacity: 1;
}

/* Estilos para el overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'Noto Sans JP', sans-serif;
}

.menu {
    background-color: var(--mode-card-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    max-height: 80vh;
    width: 600px;
    text-align: center;
    overflow-y: auto;
}

.menu h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-color: var(--mode-hover-color);
    border-width: 1px;
}
.menu strong{
    color: var(--mode-hover-color);
}
.menu p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--mode-text-color);
}
.menu img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px
}

.menu .btn {
    margin-top: 10px;
    background-color: var(--mode-card-color);
    color: var(--mode-hover-color);
    border-color: var(--mode-hover-color);
    width: 80%;
}

/* Estilos para el botón de cerrar */
.close-btn {
    text-align: right;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}
.menu .close-btn:hover {
    color: #f00;
}

/*Estilos de la ScrollBar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--mode-hover-color);
    border-radius: 10px;
}


/*FLECHAS ANIMADAS*/
.scroll-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2000;
}

#more-arrows {
    width: 60px;
    height: auto;
    fill: white;
}
.arrow-middle {
    animation: bounce-middle 1.8s infinite;
}

.arrow-bottom {
    animation: bounce-bottom 2s infinite;
}

@keyframes bounce-middle {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-12px);
    }
    60% {
        transform: translateY(-6px);
    }
}

@keyframes bounce-bottom {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-14px);
    }
    60% {
        transform: translateY(-7px);
    }
}