@import url('variablesColor.css');
body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
}
#card {
    background-color: var(--mode-card-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 50vw;
    z-index: 1003;
}
#card-title {
    text-align: center;
    font-size: 4vw;
    padding-inline: 2vw;
    padding-top: 2vw;
}
form{
    font-family: 'Noto Sans JP', sans-serif;
    display: grid;
    grid-template-areas: "label" "input" "login";
    padding: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.label {
    display: grid;
    grid-template-areas: "input";
    width: 100%;
    padding-bottom: 2.2rem;
}
.input {
    grid-area: input;
    width: 100%;
    font: inherit;
    border-radius: 10px;
    border: 2px solid var(--mode-hover-color);
    padding: 0.7vw 1vw;
    background-color: var(--mode-card-color);
    color: var(--mode-text-color);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--mode-card-color) inset;
    box-shadow: 0 0 0 1000px var(--mode-card-color) inset;
    -webkit-text-fill-color: var(--mode-text-color) !important;
}
.label_name {
    grid-area: input;
    z-index: 100;
    width: max-content;
    height:auto;
    margin-left: 1.5vw;
    display: flex;
    align-items: center;
    transition: .3s;
    transform-origin: center left;
    color: var(--mode-text-color);
    font-size: 1.2vw;
    padding: 0.5vw;
}
.input:focus + .label_name,
.input:not(:placeholder-shown) + .label_name {
    transform: translateY(-55%) scale(.9);
    background-color: var(--mode-card-color);
    height:min-content;
}