.container-custom {
    height: 80vh; /* 80% de la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-container {
    height: 40%; /* 40% de la altura del contenedor */
    overflow: hidden;
}
.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarla */
}
.audio-container {
    height: 10%; /* 10% de la altura del contenedor */
}
.text-container {
    height: 80%; /* 40% de la altura del contenedor */
    overflow-y: auto; /* Añade scroll si el texto es muy largo */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mode-background-color);
    border-radius: 10px;
    padding: 6rem 6rem;
    text-align: center;
    font-size: 2.6rem;
}
.buttons-container {
    height: 10%; /* 10% de la altura del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaciado entre botones */
}

.btn-custom {
    flex: 1;
}
